* 
{
   font-family: Trebuchet MS, Arial, Verdana, sans-serif;
   margin: 0;
}

html, body {
  margin: 0;
  height: 100%;
}



/************************************************************************/


header
{
	height: 8%;
	background-color:white;
	display: flex;
	justify-content: flex-end;
	align-items:center;
}

.nav
{

	margin-right: auto;
	list-style:none;
}

.nav li
{
	
	display: inline-block;
	margin: 10px;
}


.nav li a:hover
{
	text-decoration: underline;
}

.nav li a:active
{
	color:#03adfc;
}

.nav li a
{
	text-decoration: none;
	color: black;
}



#logo
{
	margin-right: auto;
	margin-left:10px;
	color:#4234A3;
	padding-left:10px;
}
	

#connect
{
	color: white;
	background:	#4234A3;

	cursor: pointer;
	outline: none;
	
	height: 30px;
	padding-left: 10px;
	padding-right: 10px;

	border-radius: 5px;
	border-color: #4234A3;
	border-style: solid;
	
	
	margin-left:20px;
	margin-right:50px;
}



#connect:hover
{

	background: #261881;
}


#connect:active
{

	background-color: #ffffff;
	color: #32CD32;
}




/************************************************************************/

body
{
	
	margin: 0;
	padding: 0;
	color: white;
	height: 100%;
	display: flex;
	flex-direction: column;
	
}


.content
{
	flex: 1 1 0;
	display: flex;
	height: 100%;
	flex-direction: column;
}

.welcome
{
	height: 100%;
	flex: 1 1 0;
	display: flex
}

.welcome .title
{
	display: flex;
	flex-direction: column;
	flex: 1 1 0;
	justify-content: center;
	align-items: center;
	transform: translate(10px, -30px); 
	
	color: #4234A3;	
}

.welcome .title h1
{

	font-weight: lighter;	
	font-size: 35pt;
	letter-spacing: 8px;
}

.welcome .title h3
{

	font-weight: lighter;	

}

.welcome .title button
{

	height: 40px;
	width:150px;
	margin-top: 50px;
	color: white;
	background: #4234A3;
	outline: none;
	border-style: solid;
	border-color: #4234A3;
	border-radius: 5px;
	cursor: pointer;
}


.welcome .title button:hover
{

	background: #261881;

}
.welcome .illustration
{

	flex: 1 1 0;
}
.illustration img
{
	position:absolute;
	bottom: 60px;
	right: 360px;
	width : 350px;
	height: auto;
}

.illustration p
{
	color: #4234A3;
	font-size: 20pt;
	line-height: 40px;
	text-align: center;
	width: 230px;
	position: absolute;
	right: 70px;
	top: 160px;
}
.bande
{

	height: 60px;
	background: #4234A3;
}


footer
{
	
	color:black;
	display:flex;
	justify-content:space-around;
	
	
}

